html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #fff;
}

#img_container {
    background-color: #FAFAFA
}

#img_container img {
    max-width: 378px;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

#logo {
    width: 100px;
    height: 50px;
    background-color: black;
    position: fixed;
}
@media (max-width:992px) {
    #logo {
        position: fixed;
        top: 20px;
        left: 20px;
    }
}
@media (min-width:992px) {
    #logo {
        position: fixed;
        top: 20px;
        right: 20px;
    }
}