html,
body {
    width: 100%;
    height: 100vh;
    margin: 0;
}

body {
    font-family: "Open Sans", Helvetica, sans-serif;
    background-image: url("./img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    width: 100%;
    height: 100%;
}

.log {
    width: 100px;
}